<header></header>
<br><br><br>
<div class="container">
  <div class="container col-md-7 col-sm-7 col-xs-12">

    <h2>Browse Field Guides for Seattle</h2>

    <div ng-repeat="map in maps">
      <h3><a href="/map/id/{{map.id}}">Field Guide {{map.id}}</a></h3>
    </div>

  </div>
</div>
