<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
    <h1>Reset Password </h1>

    <%= render "layouts/flash" %>

    <%= bootstrap_form_for :user do |f| %>
    <%= f.text_field :email, placeholder: "Enter your email", icon: "user" %>
    <%= f.submit "Login", :class=> "btn btn-primary" %>
    <% end %>

  </div>
</div>
