/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require_tree .
 *= require_self
 */

#desktopHeader {
  background: #0732a2;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

#splash {
  z-index: 2;
  position: relative; /* or absolute */
  background: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,.2);
  position: fixed;
  top: 40%;
  margin-top: -50px;
  text-align: center;
  border-radius: 5px;
}

#splash-map {
  position: absolute;
  top: 0px;
}

.leaflet-top {
  z-index: 900;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.leaflet-map {
  bottom: 0;
  left: 646px;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 1;
}
