/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'lineto-akkurat', Arial, sans-serif;
  font-variant: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #565a5c;
  background-color: !important #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

a, a:hover a:focus {
  color: #C8DF9F;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}


.media-top {
  position: relative;
}

.category-icon-overlay {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 7px 10px;
  background-color: rgba(250,250,250,0.9);
  border-radius: 0 5px 5px 0;
}

.btn {
  color: #565a5c;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  display: inline;

}

.map-list .media {
  margin-top: 0px;
  margin-bottom: 12.5px;
}

.map-list .media-heading {
  margin-top: 6.25px;
  font-size: 15px;
}

.map-list .media-body {
  padding: 10px;
}

#desktopHeader {
  background: #0732a2;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

#splash {
  z-index: 2;
  position: relative; /* or absolute */
  background: rgba(255,255,255,.8);
  box-shadow: 0px 0px 20px rgba(0,0,0,.2);
  position: fixed;
  top: 30%;
  margin-top: -50px;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 20px;
}

#splash-map {
  position: absolute;
  top: 0px;
}

#splash-header {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 25px;
}

.leaflet-top {
  z-index: 900;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.leaflet-map {
  bottom: 0px;
  position: fixed;
  right: 0;
  top: 52px;
  z-index: 1;
}

.navbar-default a {
  margin-left: 10px;
  letter-spacing: 1.5px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #C8DF9F;
}

.modal-content {
  top: 40px;
}

