<nav ng-controller="MainNavCtrl" class="navbar navbar-default navbar-fixed-top #desktopHeader">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button ng-click="navCollapsed=!navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">Field Guide</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:isActive('/about')}"><a href="/about"> About</a></li>
        <li ng-class="{active:isActive('/map/browse')}"><a href="/map/browse"> Browse</a></li>
        <li ng-class="{active:isActive('/map/new')}"><a href="/map/new"> New Map</a></li>
      </ul>
<!--       <ul class="nav navbar-nav navbar-right">
        <li><a ng-hide="currentUser" ng-click="showLogin()">Login</a></li>
        <li><a ng-hide="currentUser" ng-click="showSignup()">Signup</a></li>
        <li><a href="" ng-show="currentUser" ng-click="logout()">Logout</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
