<div class="container-fluid">

  <div id="splash" class="col-xs-offset-3 col-md-offset-4 col-xs-6 col-md-4">
    <h1>Field Guide</h1>
    <p>
      <a href="/new" class="btn btn-primary" role="button">Create</a>
      <a href="/map" class="btn btn-default" role="button">Browse</a>
    </p>
  </div>

  <leaflet id="splash-map" defaults="defaults" center="center" event-broadcast="events" height="100vh" width="100%">
  </leaflet>

</div>
