<div class="container-fluid" ng-controller="SiteCtrl">

  <div id="splash" class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-s-offset-3 col-s-6 col-xs-offset-1 col-xs-10">
    <h1 id="splash-header"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><br>FIELD<br>GUIDE</h1>
    <p>
      <a href="/map/browse" class="btn btn-default" role="button">Browse</a>
      <a href="/map/new" class="btn btn-default" role="button">Create</a>
    </p>
  </div>

  <leaflet id="splash-map" defaults="defaults" center="center" event-broadcast="events" height="100vh" width="100%">
  </leaflet>

</div>
