<header></header>

<div class="container">
  <div class="col-xs-6">
    <h2>Existing Map</h2>
  </div>

  <div class="container-fluid leaflet-map">
    <leaflet defaults="defaults" center="center" markers="markers" event-broadcast="events" height="100vh" width="100%"></leaflet>
  </div>
</div>

