<header></header>

<br><br><br>

<div class="container col-md-7 col-sm-7 col-xs-12">

  <div class="map-list">
  <h1>&nbsp;&nbsp;Seattle</h1>
  <br>
  {{markers}}
<!--     <div class="media col-md-6 col-sm-6 col-xs-12" ng-repeat="marker in markers">
      <div class="media-top">

        <div class="map-list-photos container-fluid col-md-12" data-ng-init="getVenueInfo(marker.venue_id, marker)">
          <div ng-repeat="photo in marker.photoArray">
            <img class="media-object col-md-4" src="{{photo}}" width="100%">
          </div>
        </div>

        <div class="category-icon-overlay">
          <span><img src="{{marker.icon.iconUrl}}"></span>
        </div>

      </div>
      <div class="media-body">
        <h4 class="media-heading"><strong>{{marker.venue}}</strong></h4>
        <p>"Guba simpy bebo, zecco plazes moola gpokr."</p>
      </div>
    </div> -->
  </div>
</div>

<div class="container-fluid col-md-5 col-sm-6 leaflet-map">
  <leaflet defaults="defaults" center="center" markers="markers" event-broadcast="events" height="100vh" width="100%"></leaflet>
</div>
