<header></header>
<br><br><br><br>

<div class="container col-md-9">
  <h2>Existing Map</h2>

  <div class="map-list">
    <div class="media col-md-6" ng-repeat="marker in markers">
      <div class="media-top">
        <a href="#">
          <img class="media-object" src="http://placekitten.com/g/300/200" height="200px" width="300px">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{marker.venue}}</h4>
        <p>"Guba simpy bebo, zecco plazes moola gpokr."</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid leaflet-map">
  <leaflet defaults="defaults" center="center" markers="markers" event-broadcast="events" height="100vh" width="100%"></leaflet>
</div>
