<header></header>

<br><br><br>

<div class="container">
<div class="container col-md-7 col-sm-7 col-xs-12">
  <h2>New Map   <input type="submit" ng-click="saveMap()" class="btn btn-default pull-right" value="Save Map"></input>
</h2>
  <form class="form" ng-submit="placeMarker()">
    <div class="form-group">
      <input type="text" ng-model="selected" placeholder="Please enter a location" typeahead="address as address['name'] + ' — ' + address['location']['formattedAddress'] for address in getLocation($viewValue) | limitTo:10" typeahead-loading="loadingLocations" typeahead-min-length="3" class="form-control">
    </div>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <input ng-hide="loadingLocations" type="submit" class="btn btn-default" name="Search"></input>
  </form>
<br>
<div>
  <ul class="map-list" ng-repeat="marker in markers">
    <li><img src="{{marker.icon.iconUrl}}">&nbsp;&nbsp;{{marker.venue}}</li>
  </ul>
</div>

</div>

<div class="container-fluid col-md-5 col-sm-6 leaflet-map">
  <leaflet defaults="defaults" center="center" markers="markers" event-broadcast="events" height="100vh" width="100%"></leaflet>
</div>
</div>
